<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @passenger.name %>, Thank you for booking with FlightBooker!</h1>
    
    <p>Please see your itinerary below.</p>

    <p>
      Thank you for booking your flight with flight-booker.  
      Your confirmation # is <b><%= @booking.id %></b>.
    </p>

    <p>
      Flight #<%= @booking.flight.id %>: <%= @booking.flight.from_airport.code %> -> 
      <%= @booking.flight.to_airport.code %> on 
      <%= @booking.flight.date.strftime("%A, %B %d, %Y") %>.
    </p>

    <p>Passengers:</p>
    <ol>
    <% @booking.passengers.each do |passenger| %>
     <li> <%="#{passenger.name} <#{passenger.email}>" %></li>
    <% end %>
    </ol>
 
    <p>Thanks for booking with <%= link_to "FlightBooker", @url %>. Have a great day!</p>

  </body>
</html>