<% provide(:title, 'Booking') %>
<h1>Booking Page</h1>

<fieldset>
  <legend>Trip Details</legend>
  <h3>Flight #<%= @flight.id %></h3>
  <h3>
  <%= @flight.from_airport.code %> -> <%= @flight.to_airport.code %>
  <small><%=@flight.from_airport.city%> to <%=@flight.to_airport.city%></small>
  </h3>
  <p><%= @flight.date.strftime("%A, %B %d, %Y") %></p>
</fieldset>

<div class="row">
  <div class="large-6 columns">
    <%= form_for(@booking) do |f| %>
      <%= f.hidden_field :flight_id %>         
      <fieldset>
        <legend>Passengers Information</legend>
        <%= f.fields_for :passengers do |passenger| %>
        <div class="row">
           <div class="large-6 columns">
            <%= passenger.text_field :name %>
           </div>
           <div class="large-6 columns">
          <%= passenger.text_field :email %>
          </div>    
        </div>    
        <% end %>
      </fieldset>
      <%= f.submit "Book Flight", class: "button" %>
    <% end %>
  </div>
</div>
