<h1>Booking Confirmation</h1>

<p>
  Thank you for booking your flight with flight-booker.  
  Your confirmation # is <b><%= @booking.id %></b>.
</p>

<p>
  Flight #<%= @booking.flight.id %>: <%= @booking.flight.from_airport.code %> -> 
  <%= @booking.flight.to_airport.code %> on 
  <%= @booking.flight.date.strftime("%A, %B %d, %Y") %>.
</p>

<p>Passengers:</p>
<ol>
<% @booking.passengers.each do |passenger| %>
 <li> <%="#{passenger.name} <#{passenger.email}>" %></li>
<% end %>
</ol>
